
body {
	background: #f4f4f4;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #333;
}

a {	color: #005da0;}

a:hover { 
	text-decoration: none;
	color: #65b2d9;
}

.error {
	color: #c00;
}

#login {
	margin: 40px auto 10px auto;
	padding: 20px;
	width: 300px;
	text-align: left;
	background: #fff;
	border: 5px solid #e2e2e2;
}

#login-header {
	margin: 0;
	text-align: left;
}

h1 {
	margin: 0;
	font-size: 24px;
	color:#333;
}

#login-form label {
	font-weight: bold;
}

#login-form input {
	margin: 3px 8px 0 0;
	padding: 2px 4px;
}

#login-form p.remember label {
	font-weight: normal;
}

#footer {
	text-align: center;
}	




