ul.root_menu ul.testulnested{
border:0px solid #990000;
list-style: none;
position:absolute;
left: 170px;
top: 0;
display: none;
width: 180px;
margin-top: 0px;
padding:0px 2px 2px 0px;
}
ul.testulnested li ul.testulnested
{
list-style: none;
position:absolute;
left: 170px;
top: 0;
display: none;
width: 170px;
margin-top: 0px;
padding:0px 2px 2px 0px;
}
ul.root_menu li:hover>ul{display:block}
ul.root_menu ul{position: absolute;left:-1px;top:98%;}
ul.root_menu ul ul{position: absolute;left:98%;top:-2px;}
ul.root_menu,ul.root_menu ul {
   margin:0px;
   list-style:none;
   padding:0px 0px 0px 0px;
   background: #369;
   background-repeat:repeat;
   border:0px solid #000000;
   }
ul.root_menu {
   display:block;
   zoom:1;
   width:180px;
   margin: 20px 0 0 8px;
}
ul.root_menu ul{
   width:180px;
}
ul.root_menu li{
   display:block;
   margin:0px 0px 0px 0px;
width:170px;
   font-size:0px;
}

ul.root_menu li a.image {

background-image:url(image/freccia.gif);
   background-position:right center;
   background-repeat: no-repeat;
}

ul.root_menu li a.image:hover {
background-image:url(image/freccia.gif);
   background-position:right center;
   background-repeat: no-repeat;
}

ul.root_menu a{
   display:block;
   vertical-align:middle;
      margin:0;
      background: #369;
   border:0px solid #6655ff;
   text-align:left;
   text-decoration:none;
   padding-left:8px;
      height:15px;
   font:normal 11px Verdana;
   color: #ffffff;
   text-decoration:none;
      padding-top: 8px;
padding-bottom: 8px;
border-bottom: 1px solid #467bbe;
}
ul.root_menu ul a {
   text-align:left;
   white-space:nowrap;
}
ul.root_menu li:hover{
   position:relative;
}

ul.root_menu li a:hover{
   position:relative;
   background-color:#4792E6;
   border:0px solid #665500
   font:normal 11px Verdana;
   color: #000000;
   text-decoration:none;
}